@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}
:root {
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #009e90;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
}

.item a {
  text-decoration: none;
}
body {
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  background-color: #353536;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  max-height: 900px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.left-bar {
  background-color: var(--bg-color);
  width: 230px;
  border-right: none;
  position: relative;
}

.left-content {
  margin-top: 5 0px;
  padding: 40px;
}
.item {
  color: var(--main-color);
  margin-bottom: 50px;
  font-weight: 500;
}
.item img {
  width: 14px;
  height: 14px;
  color: currentcolor;
  margin-right: 10px;
}
.actions {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}


.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 120px);
}

.page-content p {
  font-size: 16px;
  color: var(--main-color);
  margin-top: 20px;
}
.page-content .header {
  font-size: 40px;
  color: var(--main-color);
  margin-top: 30px;
}

/* to do list content*/

.todo-container {
  margin-top: 30px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.todo-header input[type="text"],
.todo-header button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.todo-header input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.todo-header button {
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.todo-header button:hover {
  background-color: #3a8d8b;
}

/* Search bar and icon */
.search-bar {
  margin-top: 10px;
  align-items: center;
  margin-top: 10px;
}

#searchInput {
  padding: 2px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  flex-grow: 1;
  border: 1px solid var(--main-color);
  margin-top: 10px;
  color: var(--main-color);
}

.search-icon {
  color: white;
  border-radius: 4px;
  margin-bottom: 7px;
  padding: 8px;
  margin-left: 1px;
}
.task-item
{
  margin:3%;
  display:flex;
  justify-content: space-between;
  background-color: rgba(233, 175, 233, 0.684);
  padding: 2em;
  border-radius: 20px;
  border: none;


}
.task-item button
{
  padding:  0.5rem 1rem;
  border: none;
  background-color: rgb(70, 37, 72);
  color: white;
  border-radius: 10px;
}
.todo-itemtext
{
  font-size: 15px;


}
.true
{
  text-decoration:line-through ;
}